body {
  /* background-image: url(/mjmj.jpg);background-repeat: no-repeat;
    background-position: center top; */
  background: url(/mjmj.jpg) center top no-repeat;
}

.div1 {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  text-align: center;
  margin-bottom: auto;
  margin: 50px auto;
  margin: auto;
  margin: 100px 300px;
  background-color: darkturquoise;
  color: black;
}
.div2 {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  text-align: center;
  margin: auto;
  max-width: 768px;
  padding: 10px 100px 30px 20px;
  background-color: cyan;
  color: black;
  outline-style: dotted;
  outline-width: 2px;
  outline-color: red;
  outline-offset: 20px;
}
.div1 {
  text-decoration-line: underline;
  text-decoration-color: RED;
}
.div2 {
  text-decoration: overline red;
}
